# Virtual host <%= @name %>
# This file has been provided by puppet for <%= @fqdn %>.
# DON'T EDIT it manually, any changes will be lost
#
server {
  listen <%= @port %>;
  root  <%= @docroot %>;
  server_name <%= @serveraliases.join(" ") %>;

  access_log  <%= scope.lookupvar('nginx::log_dir')%>/<%= @name %>.access.log;
  error_log  <%= scope.lookupvar('nginx::log_dir')%>/<%= @name %>.error.log;

  client_max_body_size 50M;

  index index.php;

  error_page 404 /404.html;
  error_page 500 502 503 504 /50x.html;


  # Global restrictions configuration file.
  # Designed to be included in any server {} block.</p>
  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
  # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
  location ~ /\. {
    deny all;
  }

  # Deny access to any files with a .php extension in the uploads directory
  # Works in sub-directory installs and also in multisite network
  # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
  location ~* /(?:uploads|files)/.*\.php$ {
    deny all;
  }

  # Last resort location rule if all location rules below fail. See http://wiki.nginx.org/HttpCoreModule
  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  # Add trailing slash to */wp-admin requests.
  rewrite /wp-admin$ $scheme://$host$uri/ permanent;

  # Directives to send expires headers and turn off 404 error logging.
  location ~* ^.+\.(ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
    access_log off; log_not_found off; expires max;
  }

  <% if @enable_wp_admin_host_acl then%>
  location ~ ^/(wp-admin/.*\.php|wp-login.php) {
    <% @wp_admin_host_acl.each do |allowed_host| %>
    allow <%= allowed_host %>;
    <%- end -%>
    allow 127.0.0.1;
    deny all;
    include php-wordpress.conf;
  }
  <% end %>

  # Pass all .php files onto a php-fpm/php-fcgi server.
  location ~ \.php$ {
    include php-wordpress.conf;
  }
}
